.button {
  -fx-background-color: #0C2643;
  -fx-border: none;
  -fx-color: white;
  -fx-text-fill: white;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
}
.slider {
  -fx-webkit-appearance: none;  /* Override default CSS styles */
  -fx-appearance: none;
  -fx-width: 100%; /* Full-width */
  -fx-height: 50px; /* Specified height */
  -fx-background: #4CC3FF; /* Grey background */
  -fx-outline: none; /* Remove outline */
  -fx-opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -fx-webkit-transition: .2s; /* 0.2 seconds transition on hover */
  -fx-transition: opacity .2s;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #071625, #1D3954);
    -fx-background-radius: 3px 3px 0px 0px;
    -fx-background-insets: 0 0px 0 0;
    -fx-padding: 0 0 0px 0;
}

.table-view .column-header
 {
    -fx-background-color: transparent;
}


.list-view
{
-fx-color: white;
-fx-background-color: #0C2643;
}
.table-view
{
     -fx-text-background-color: #FFFFFF;

}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell: hover{
    -fx-background-color: #5A83B1;
    -fx-text-background-color: blue;
}
.table-row-cell: odd{
    -fx-background-color: #0C2643;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #0C2643;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

