.root{
    -fx-background-color: linear-gradient(to bottom, #071625, #1D3954);
    -fx-text-background-color: #FFFFFF;
}

.combo-box .list-cell
{
    -fx-background: #0C2643;
    -fx-text-background-color: #FFFFFF;
}
.button {
  -fx-background-color: #0C2643;
  -fx-border: none;
  -fx-color: white;
  -fx-text-fill: white;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
}

.slider {
  -fx-webkit-appearance: none;
  -fx-appearance: none;
  -fx-width: 100%;
  -fx-height: 50px;
  -fx-background: #4CC3FF;
  -fx-outline: none;
  -fx-opacity: 0.7;
  -fx-webkit-transition: .2s;
  -fx-transition: opacity .2s;
}

.list-view
{
-fx-background-color: #0C2643;
}

.list-view .list-cell
{
    -fx-background-color: #0C2643;
}

.table-view
{
     -fx-text-background-color: #FFFFFF;
}

.table-view .column-header
{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #071625, #1D3954);
    -fx-background-radius: 3px 3px 0px 0px;
    -fx-background-insets: 0 0px 0 0;
    -fx-padding: 0 0 0px 0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell: hover{
    -fx-background-color: #5A83B1;
    -fx-text-background-color: blue;
}
.table-row-cell: odd{
    -fx-background-color: #0C2643;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #0C2643;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected{
   -fx-background-color: steelblue;
   -fx-text-fill: red !important;
}

